site_name: Learn python with cat
site_url: https://github.com/mickche/learn_python
theme:
  name: material
  logo: assets/logo.svg 
  favicon: assets/favicon.ico
  font:
    text: PT Sans 

markdown_extensions:
  - pymdownx.snippets:
      base_path:
        - 'python_file'
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
